# OS / Editor
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Logs / Cache
*.log
.phpunit.result.cache
/.phpunit.cache
/.php-cs-fixer.cache
/tmp/

# Env / Auth
.env
.env.*
.env.backup
.env.production
.envrc
.envrc.*
/auth.json

# Dependencies
/node_modules
/vendor

# Laravel storage
/public/storage
/storage/*.key
/storage/pail

# Build artifacts / Hot reload
/public/build
/public/hot
public/docs/
public/public
public/css/app.css
public/css/app.css.map
public/js/app.js
public/js/app.js.map
public/js/app.js.LICENSE.txt

# IDE helper
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php

# Homestead
Homestead.json
Homestead.yaml
